<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Course Level Certificate</title>
    </head>
    <body>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title></title>
            <style type="text/css">
                @font-face {
                    font-family: "flama-condensed";
                    font-weight: 100;
                    src: url("http://assets.vervewine.com/fonts/FlamaCond-Medium.eot");
                    src: url("http://assets.vervewine.com/fonts/FlamaCond-Medium.eot?#iefix") format("embedded-opentype"), url("http://assets.vervewine.com/fonts/FlamaCond-Medium.woff") format("woff"),
                        url("http://assets.vervewine.com/fonts/FlamaCond-Medium.ttf") format("truetype");
                }
                @font-face {
                    font-family: "Muli";
                    font-weight: 100;
                    src: url("http://assets.vervewine.com/fonts/muli-regular.eot");
                    src: url("http://assets.vervewine.com/fonts/muli-regular.eot?#iefix") format("embedded-opentype"), url("http://assets.vervewine.com/fonts/muli-regular.woff2") format("woff2"),
                        url("http://assets.vervewine.com/fonts/muli-regular.woff") format("woff"), url("http://assets.vervewine.com/fonts/muli-regular.ttf") format("truetype");
                }
                .address-description a {
                    color: #000000;
                    text-decoration: none;
                }
                .contacttd{
                    padding-top: 0; 
                    padding-bottom: 0; 
                    padding-right: 30px; 
                    padding-left: 30px; 
                    text-align: center; 
                    margin-right: auto; 
                    margin-left: auto;
                }
                .contact{
                    font-family: 'Muli', Arial, sans-serif; 
                    margin: 0; 
                    text-align: center; 
                    margin-right: auto; 
                    margin-left: auto; 
                    font-size: 15px; 
                    color: #a1a8ad; 
                    line-height: 23px;
                }
                .address{
                    font-family: 'Muli', Arial, sans-serif;
                    margin: 0;
                    text-align: center;
                    margin-right: auto;
                    margin-left: auto;
                    padding-top: 10px;
                    padding-bottom: 30px;
                    font-size: 15px;
                    color: #a1a8ad;
                    line-height: 23px;
                }
                .main-pera-text{
                    font-family: 'Muli', 'Arial Narrow', Arial;
                    margin: 0;
                    text-align: center;
                    color: #a1a8ad;
                    line-height: 24px;
                    font-size: 15px;
                    margin-bottom: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }
                .main-body{
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 0;
                    margin-left: 0;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: 0px;
                    padding-left: 0px;
                    background-color: #e1e5e8;
                }
                .main-center{
                    width: 100%;
                    table-layout: fixed;
                    -webkit-text-size-adjust: 100%;
                    -ms-text-size-adjust: 100%;
                    background-color: #e1e5e8;
                    align-items: center;
                    display: flex;
                    justify-content: center; height: 100vh;
                }
                .forgot-password-text{
                    margin: 0;
                    text-align: center;
                    font-family: 'flama-condensed', 'Arial Narrow', Arial;
                    font-weight: 100;
                    font-size: 30px;
                    margin-bottom: 26px;
                }
                .td-padding{
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-right: 30px;
                    padding-left: 30px;
                }
                .main-content{
                    color: rgb(161, 168, 173);
                    font-family: Muli, 'Arial Narrow', Arial;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    background-color: rgb(255, 255, 255);
                }
                .main-table{
                    border-spacing: 0; 
                    font-family: 'Muli', Arial, sans-serif; 
                    color: #333333; 
                    margin: 0 auto; 
                    width: 100%; 
                    max-width: 600px;
                }
            </style>
        </head>
        <body bgcolor="#e1e5e8" class="main-body" >
            <center class="main-center">
                <div 
                style="max-width: 600px; margin-top: 0; margin-bottom: 0; margin-right: auto; margin-left: auto; ">
                    <table align="center" cellpadding="0" class="main-table">
                        <tbody>
                            <tr>
                                <td class="one-column" style="padding: 0; background-color: #ffffff;">
                                    <table style="border-spacing: 0;" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" class="inner td-padding" valign="middle">
                                                    <span
                                                        class="sg-image"
                                                        data-imagelibrary="%7B%22width%22%3A%22255%22%2C%22height%22%3A93%2C%22alt_text%22%3A%22CourseLevel%20Certificate%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/35c763626fdef42b2197c1ef7f6a199115df7ff779f7c2d839bd5c6a8c2a6375e92a28a01737e4d72f42defcac337682878bf6b71a5403d2ff9dd39d431201db.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"
                                                    >
                                                        <img alt="Level Certificate" class="banner" height="93" src="<%=APP_URL%>/public/images/logo.png"
                                                        style="border-width: 0px; margin-top: 30px; width: 255px; height: auto;" width="255" />
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="inner contents center td-padding" style="text-align: left;">
                                                    <center>
                                                        <p class="h1 center forgot-password-text"> Course Level Certificate </p>
                                                        <p class="description center main-pera-text" >
                                                            <div style="text-align: left; padding-bottom: 10px; padding-left: 10px; color: rgb(161, 168, 173);">Hi <%=name%>,</div>
                                                            <div class="main-content" style="text-align: center; padding-bottom: 10px; padding-top: 10px;">I hope this message finds you well.<br/>I'm thrilled to inform you that your hard work and dedication have paid off. You've successfully completed the course, and I'm delighted to grant you access to your well-deserved certificate.<br/>You can now view and interact with your certificate by following the link provided below:</div>
                                                        </p>
                                                        <span
                                                            class="sg-image"
                                                            data-imagelibrary="%7B%22width%22%3A%22260%22%2C%22height%22%3A54%2C%22alt_text%22%3A%22Course%20Level%20Certificate%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/c1e9ad698cfb27be42ce2421c7d56cb405ef63eaa78c1db77cd79e02742dd1f35a277fc3e0dcad676976e72f02942b7c1709d933a77eacb048c92be49b0ec6f3.png%22%2C%22link%22%3A%22%23%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"
                                                        >
                                                            <a target="_blank" href="<%=url%>">
                                                                <img
                                                                    alt="certificate" height="54" width="260"
                                                                    src="https://dummyimage.com/520x108/000/fff.png&text=Get+Certificate"
                                                                    style="border-width: 0px; margin-top: 30px; width: 260px; height: 54px;"
                                                                />
                                                            </a>
                                                        </span>
                                                    </center>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="contacttd">
                                                    <center>
                                                        <p class="contact">
                                                            If you have any questions or require further assistance, please don't hesitate to reach out at
                                                            <nobr>
                                                                <a class="tel" href="tel:2128102899" style="color: #a1a8ad; text-decoration: none;" target="_blank"><span style="white-space: nowrap;">212.810.2899</span></a>
                                                            </nobr>
                                                        </p>
                                                        <p class="contact">
                                                            or email <a href="mailto:info@crestproperty.in" style="color: #a1a8ad; text-decoration: underline;" target="_blank">info@crestproperty.in</a>
                                                        </p>
                                                    </center>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </center>
        </body>
    </body>
</html>
